.green-background {
  background-color: #0a8012;
  color: #fff;
}

.hero.is-info.mosquiteer {
  background-color: #0aa8e7;
  color: black;
  
}

.splashImg {
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
}

.hero.is-info.mosquiteer .title, 
.hero.is-info.mosquiteer .subtitle {
  color: black;
  text-align: center;
}

@keyframes blink {
  0% { opacity: 0.7; }
  40% { opacity: 0.9; }
  50% { opacity: 1; }
  60% { opacity: 0.9; }
  100% { opacity: 0.7; }
}
.skeleton-blink {
  animation: blink 1s infinite;
}
.skeleton-blink article {
  min-height: 200px;
}
.skeleton-blink article.header, .skeleton-blink article.footer {
  min-height: 70px;
}
footer.footer a {
  color: #17386d !important;
}
footer.footer.mosquiteer {
  padding: 2rem 1.5rem;
}

.mosquito-breeding-map, .disease-breeding-visualization, .disease-breakout-map{
    min-height: 300px;
    width:100%;
    margin-bottom: 20px;
}

.splash-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details, .container-child{
    padding-left: 50px;;
    padding-right: 50px;;
}
.details input{
    width:100%;
}

.details textarea{
    width:100%;
}
a.is-active {
    color: #3273dc;
    font-weight: bold;
}
#input-photo{
    display: none;
}
.description{
    font-size: 14px;
    font-weight: bold;
}
.wrapper{
    padding:10px;

}
 .info-marker{
  min-width: 100px;
  min-height:100px;
}
.panel-articles{
  padding:10px;
}